extends ../layouts/layout

block css	
	link(href="/styles/home.min.css",rel="stylesheet")

mixin news(id,image,title)
	div(data-id=id).news-container
		img(src=image,title=title)
		p=title

mixin newsSection(type)
	div.news-section
		div.news-section-post-title.news-section-header
			if (type==='1')
				| 团委
			else if (type==='2')
				| 学生会
			else
				| 研究生会
		div.news-section-body
			if (type==='1')
				each item in data.ycl
					+news(""+item._id,"images/"+item.image.filename,item.title)
			else if (type==='2')
				each item in data.collegeStu
					+news(""+item._id,"images/"+item.image.filename,item.title)
			else
				each item in data.graduateStu
					+news(""+item._id,"images/"+item.image.filename,item.title)
			br

mixin carousel
	section.carousel-container
		div(style='width:#{data.todays.length*86}em').carousel-image-container
			each item,index in data.todays
				img(src="images/"+item.image.filename,alt=item.title,title=item.title,data-id=""+item._id,data-index=index,data-date=item.publishedDate.getDate(),data-title=item.title,data-abstract=item.abstract).carousel-image
		div.carousel-text-container
			div.carousel-text-left
				div.carousel-title
				div.carousel-abstract
			div.carousel-text-right
				img(src="/icons/today.png")
		div.calendar
			div.calendar-arrow-container.calendar-left
				i.glyphicon.glyphicon-menu-left
			div.calendar-main
				span.calendar-month= data.month
				span.calendar-yue 月
				- var i=1
				while i <= data.lastDay
					span(data-date=i).calendar-day= i++
			div.calendar-arrow-container.calendar-right
				i.glyphicon.glyphicon-menu-right

block main
	+carousel
	section.posts
		section.news
			header.post-header.post-title 
				a(href="/newslist",title="更多新闻") 新闻
			div.news-main
				+newsSection('1')
				+newsSection('2')
				+newsSection('3')
		section.notices
			header.post-header.post-title
				a(href="/noticelist",title="更多公告") 公告
			div.notice-main
				each item in data.notices
					div.notice-title-container
						div.notice-title-left
							a(href='post?id=' + item._id,title=item.title)= item.title
						div.notice-title-right
							span= item._.publishedDate.format('YYYY-MM-DD')

block js
	script(src="js/jquery/jquery-2.1.4.min.js")
	script(src="js/homepage.js")
	
